<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Pastèque - back office</title>
	<link rel="stylesheet" type="text/css" href="res/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="res/css/bootstrap/css/bootstrap-datepicker.min.css">
	<script type="text/javascript" src="res/css/bootstrap/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="res/css/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="res/css/style.css">
	<link rel="stylesheet" type="text/css" href="res/css/catalog.css">
	<link rel="stylesheet" type="text/css" href="res/css/restaurant.css">
	<script type="text/javascript" src="libs/vue-dev.js"></script>
	<script type="text/javascript" src="libs/csv.min.js"></script>
	<script type="text/javascript" src="src/tools.js"></script>
	<script type="text/javascript" src="src/models/category.js"></script>
	<script type="text/javascript" src="src/models/product.js"></script>
	<script type="text/javascript" src="src/models/tariffarea.js"></script>
	<script type="text/javascript" src="src/models/customer.js"></script>
	<script type="text/javascript" src="src/models/floor.js"></script>
	<script type="text/javascript" src="src/models/paymentmode.js"></script>
	<script type="text/javascript" src="src/models/user.js"></script>
	<script type="text/javascript" src="src/models/role.js"></script>
	<script type="text/javascript" src="src/models/cashregister.js"></script>
	<script type="text/javascript" src="src/models/resource.js"></script>
	<script type="text/javascript" src="src/srvcall.js"></script>
	<script type="text/javascript" src="src/login.js"></script>
	<script type="text/javascript" src="src/storage.js"></script>
	<script type="text/javascript" src="src/gui.js"></script>
	<script type="text/javascript" src="src/main.js"></script>
	<script type="text/javascript" src="src/screens/home.js"></script>
	<script type="text/javascript" src="src/screens/categories.js"></script>
	<script type="text/javascript" src="src/screens/products.js"></script>
	<script type="text/javascript" src="src/screens/tariffareas.js"></script>
	<script type="text/javascript" src="src/screens/customers.js"></script>
	<script type="text/javascript" src="src/screens/ztickets.js"></script>
	<script type="text/javascript" src="src/screens/salesbyproduct.js"></script>
	<script type="text/javascript" src="src/screens/salesdetails.js"></script>
	<script type="text/javascript" src="src/screens/floors.js"></script>
	<script type="text/javascript" src="src/screens/paymentmodes.js"></script>
	<script type="text/javascript" src="src/screens/users.js"></script>
	<script type="text/javascript" src="src/screens/roles.js"></script>
	<script type="text/javascript" src="src/screens/cashregisters.js"></script>
	<script type="text/javascript" src="src/screens/resources.js"></script>
	<script type="text/javascript" src="src/views/loading.js"></script>
	<script type="text/javascript" src="src/views/home.js"></script>
	<script type="text/javascript" src="src/views/login.js"></script>
	<script type="text/javascript" src="src/views/message.js"></script>
	<script type="text/javascript" src="src/views/catalogpicker.js"></script>
	<script type="text/javascript" src="src/views/menu.js"></script>
	<script type="text/javascript" src="src/views/categories.js"></script>
	<script type="text/javascript" src="src/views/products.js"></script>
	<script type="text/javascript" src="src/views/tariffareas.js"></script>
	<script type="text/javascript" src="src/views/customers.js"></script>
	<script type="text/javascript" src="src/views/ztickets.js"></script>
	<script type="text/javascript" src="src/views/salesbyproduct.js"></script>
	<script type="text/javascript" src="src/views/salesdetails.js"></script>
	<script type="text/javascript" src="src/views/floors.js"></script>
	<script type="text/javascript" src="src/views/table.js"></script>
	<script type="text/javascript" src="src/views/paymentmodes.js"></script>
	<script type="text/javascript" src="src/views/users.js"></script>
	<script type="text/javascript" src="src/views/roles.js"></script>
	<script type="text/javascript" src="src/views/cashregisters.js"></script>
	<script type="text/javascript" src="src/views/resources.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() { boot(); });
	</script>
</head>
<body>
<div id="vue-app">
<!-- Floating components -->
<vue-loading v-bind:loading="loading"></vue-loading>
<vue-message v-bind:message="message"></vue-message>
<!-- Main components -->
<vue-login v-bind:login="login" v-show="ready"></vue-login>
<div id="main" v-if="login.loggedIn && ready">
	<vue-menu v-bind:menu="menu"></vue-menu>
	<div v-if="false">As you can see this site doesn't work without javascript.</div>
	<component id="content" class="container-fluid"
	component v-bind:is="screen.component" v-bind:data="screen.data"></component>
</div>
</body>
</html>
